:root{
    --withe: #ffffff;
    --black: #111111;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: var();
    font-size: 1.6rem;
    line-height: 1.8;
}

h1, h2, h3{
    font-weight: 900;
    margin: 1rem 0 4rem 0;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 5.8rem;
}

h3{
    font-size: 5rem;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

/*-----utilities------*/
.textCenter{
    text-align: center;
}

.marginT5{
    margin-top: 5rem;
}