:root{
    --primary: #6834a6;
    --withe: #ffffff;
    --black: #111111;

    --principalfont: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: var(--principalfont);
    font-size: 1.6rem;
    line-height: 1.8;
}

h1, h2, h3{
    font-weight: 900;
    margin: 2rem 0;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4.6rem;
}

h3{
    font-size: 3rem;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

[class$="__container"]{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

[class$="__heading"]{
    text-align: center;
    margin-bottom: 5rem;
}

/*-----Start of utilities------*/
.textCenter{
    text-align: center;
}

.marginT5{
    margin-top: 5rem;
}
/*-----End of utilities------*/

/*-------------------------------------------------------------------------------------------------*/

/*----------Start Section Header----------*/
.header{
    background-image: url(../img/header_bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 10rem;
    padding: 5rem 0;
}

@media (min-width: 768px){
    .header{
        background-size: 50rem;
    }
}

@media (min-width: 992px){
    .header{
        background-size: 60rem;
    }
}

@media (min-width: 1280px){
    .header{
        background-size: 90rem;
    }
}

@media (min-width: 768px){
    .header__bar {
        display: flex;
        justify-content: space-between;
    }
}

.header__logo{
    width: 15rem;
    margin: 0 auto 3rem auto;
}

@media (min-width: 768px){
    .header__logo{
        margin: 0;
    }
}

.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px){
    .navigation{
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }
}

.navigation__link{
    color: var(--primary);
}

@media (min-width: 768px){
    .navigation__link{
        color: var(--withe);
    }
}

.navigation__link--footer{
    color: var(--withe);
}

@media (min-width: 768px){
    .header__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
    }
}

.header__heading{
    font-size: 3rem;
}

@media (min-width: 768px){
    .header__heading{
        text-align: left;
        font-size: 5rem;
        line-height: 1.2;
    }
}

.header__button{
    background-color: var(--primary);
    display: block;
    padding: 1rem;
    text-align: center;
    color: var(--withe);
    margin-bottom: 4rem;
}

@media (min-width: 768px){
    .header__button{
        padding: 1rem 3rem;
        display: inline-block;
        margin: 0;
    }
}

@media (min-width: 768px){
    .header__imgApp{
        max-width: 25rem;
        margin: 0 auto;
    }
}

/*----------End Section Header----------*/

/*----------Start Section Main----------*/

.miPay{
    margin-top: 3rem;
}

.miPay__grid{
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px){
    .miPay__grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 5rem;
        align-items: center;
    }
}


.list__element{
    background-color: var(--withe);
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15);
    padding: 2rem;
    margin-bottom: 5rem;
    transition-property: transform;
    transition-duration: 300ms;
}

.list__element:hover{
    transform: scale(1.1);
}

@media (min-width: 768px){
    .list__element--2col{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
}

.list__heading{
    font-size: 3rem;
    color: var(--primary);
    margin: 0;
}

.list__text{
    margin: 0;
    font-size: 2rem;
    text-align: center ;
}

.list__number{
    font-size: 4rem;
    margin: 0;
    font-weight: 900;
    color: var(--primary);
    text-align: center;
}

@media (min-width: 768px){
    .list__number{
        flex-basis: 20rem;
        text-align: right;
        font-size: 4rem;
    }
}

/*----------End Section Main----------*/
/*----------Start Section Security----------*/

.security{
    background-color: var(--primary);
    padding: 20rem 0;
    position: relative;
    margin-top: 10rem 0;
    overflow: hidden;
}

.security::before,
.security::after{
    background-color: var(--withe);
    content: '';
    height: 20rem;
    width: 130%;
    position: absolute;
}

.security::before{
    top: -10rem;
    left: 0;
    transform: rotate(3deg);
}

.security::after{
    bottom: -10rem;
    right: 0;
    transform: rotate(3deg);
}

.security__heading{
    color: var(--withe);
}

@media (min-width: 768px){
    .security__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
        align-items: center;
    }
}

/*----------Start Section Security----------*/
/*----------Start Section Commissions----------*/

@media (min-width: 768px){
    .commissions__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
        align-items: flex-end;
    }
}

@media (min-width: 998px){
    .commissions__grid{
        align-items: center;
    }
}

.commissions__text{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
}

@media (min-width: 768px){
    .commissions__grid{
        text-align: left;
    }
}

/*----------End Section Commissions----------*/
/*----------Start Section Testimonials----------*/

.testimonials{
    background-color: var(--primary);
    padding: 5rem;
}

.testimonials__heading{
    color: var(--withe);
}

.testimonials__grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

@media (min-width: 768px){
    .testimonials__grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

.testimonial{
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15);
    background-color: var(--withe);
    padding: 2rem;
    position: relative;
}

.testimonial__text{
    padding-left: 4rem;
}

.testimonial__text::before{
    content: '';
    background-image: url(../img/comilla.png);
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: center;

    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 3.5rem;
    left: 2rem;
}

.testimonial__author{
    color: var(--primary);
    font-weight: 700;
    text-align: right;
}

/*----------End Section Testimonials----------*/
/*----------Start Footer----------*/

.footer{
    background-color: #5a30a0;
    padding: 3rem 0;
}

@media (min-width: 768px){
    .footer__grid{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.footer__logo{
    width: 20rem;
    margin: 0 auto 4rem auto;
}

@media (min-width: 768px){
    .footer__logo{
        margin: 0;
    }
}

/*----------End Footer----------*/